<!-- app/views/home/index.html.erb -->
<div class="links">
  <%= link_to "従業員ログイン", new_user_session_path, class: "btn btn-primary" %>
  <%= link_to "管理者ログイン", new_admin_user_session_path, class: "btn btn-danger" %>
</div>