<h1>新しいクイズを作成</h1>

<%= form_with(model: [:admin, @quiz_question], local: true) do |form| %>
  <%= render "form", form: form %>
<% end %>

<%= link_to "戻る", admin_quiz_questions_path, class: "btn btn-secondary" %>
