<% content_for :title, "投稿の編集" %>

<h1>投稿の編集</h1>

<%= form_with(model: [:admin, @video], local: true) do |form| %>
  <%= render "form", form: form %>
<% end %>

  <%= link_to "動画一覧に戻る", video_path, class: "btn btn-secondary" %>